{:gigo            {:username #env GIGO_USERNAME
                   :password #env GIGO_PASSWORD}

 :twilio          {:bot-number #env TWILIO_NUMBER
                   :twilio-account #env TWILIO_SID
                   :twilio-token  #env TWILIO_TOKEN}
 :airtable {:token #env AIRTABLE_TOKEN
            :base  #env AIRTABLE_BASE}}
