{:app-base-url "https://example.com:6160"
 :app-secret-key "random key"
 :gigo      {:username ""
             :password ""}
 :twilio    {:bot-number     ""
             :twilio-account ""
             :twilio-token   ""}
 :airtable  {:token ""
             :base  ""}
 :discourse {:api-key  ""
             :username ""}
 :nextcloud {:username         ""
             :password         ""
             :token            ""
             :host             ""
             :webdav-base-path "/remote.php..."}
 :mailgun   {:api-key        ""
             :from           "SNO Probematic <probematic@example.com>"
             :send-domain    "example.com"
             :mailgun-domain "api.eu.mailgun.net"}
 :redis     {:conn-spec {:password ""
                         :host "localhost"
                         :port 6379}}
 :sentry    {:dsn ""}
 }
