{:skip-comments true
 :lint-as {io.pedestal.interceptor.error/error-dispatch clj-kondo.lint-as/def-catch-all}
 :linters {:unused-value {:level :off}
           :unused-binding {:level :off}
           :unused-import {:level :off}
           :unresolved-var {:exclude [taoensso.carmine org.httpkit.client ol.app.dev.dev-extras]}}}
