{:motivation
 {:none "-",
  :very-high "Sehr motiviert!",
  :high "Motiviert",
  :medium "Ambivalent",
  :low "Nicht Motiviert",
  :very-low "Gar nicht Motiviert!"},
 :private-instruments "Private Instrumente",
 :insurance
 {:policies "Versicherungspolicen",
  :insurance-policy "Versicherungspolice",
  :name "Name der Versicherungspolice",
  :effective-at "Gültig bei",
  :title "Versicherung & Instrumente",
  :create-title "Neue Versicherungspolice",
  :coverage-types "Art der Versicherungsdeckung",
  :category-factors "Kategoriefaktoren",
  :premium-base-factor "Premium-Basisfaktor",
  :premium-factor "Premium-Faktor",
  :instrument-coverage "Versicherungsdeckung für Instrumente",
  :coverage-name "Name des Versicherungsdeckung",
  :create-subtitle "Details zur neuen Versicherungspolice.",
  :effective-until "Gültig bis",
  :covered-instruments "Instrumente mit Versicherung"},
 :email
 {:invite-expired
  "Entschuldigung, der Einladungscode ist abgelaufen, bitte frag nach einem neuen!",
  :gig-edit-type "BEARBEITET",
  :gig-info-page "Bring mich zur Gig-Info-Seite",
  :want-reminder "Erinnere mich in ein paar Tagen daran",
  :sign-off "Mit groovigen Grüßen — SNObot",
  :gig-edited "An einem Gig hat sich etwas geändert!",
  :cannot-make-it "Ich schaffe es nicht",
  :new-probe-added "Eine neue Probe steht an!",
  :need-to-change-availability? "Ich muss meine Verfügbarkeit ändern",
  :can-you-make-it? "Kannst du es schaffen?",
  :invite-new-user-intro2
  "Klickst du auf den Link unten, um dein Konto einzurichten.",
  :invite-new-user-intro
  "Du hast eine Einladung erhalten, eine StreetNoise Orchestra (SNO)-ID zu erstellen!",
  :can-make-it "Ich kann es schaffen!",
  :new-extra-probe-added "Eine neue Extraprobe steht an!",
  :greeting "Hallo!",
  :new-meeting-added "Ein neues Treffen steht an!",
  :new-gig-added "Ein neuer Gig steht an!"},
 :gig.type
 {:probe "Probe",
  :extra-probe "Extraprobe",
  :meeting "Treffen",
  :gig "Gig"},
 :instrument
 {:category "Kategorie",
  :build-year "Baujahr",
  :serial-number "Seriennummer",
  :make "Marke",
  :instrument "Instrument",
  :name "Instrumentenname",
  :create-title "Neues Instrument",
  :create-subtitle "Details zum Instrument",
  :owner "Inhaber:in",
  :model "Modell"},
 :play-log
 {:not-played "Nicht gespielt",
  :nice "Nice!",
  :okay "Okay",
  :bad "Uh-oh",
  :intensive "Intensiver Fokus",
  :diagram-legend "Legende"},
 :gig.status
 {:confirmed "Fixiert!",
  :unconfirmed "Nicht fixiert",
  :cancelled "Abgesagt"},
 :now "jetzt",
 :private-instrument-description
 "Ein privates Instrument ist ein Instrument, das der Besitzer auf eigene Kosten versichern wird.",
 :band-private "Band/Privat",
 :Contact-Information "Kontakt Informationen",
 :password
 {:commonly-used
  "Das Passwort ist ein bekanntes gehacktes Passwort. Bitte wähle ein sicheres Passwort.",
  :too-short
  "Das Passwort ist zu kurz. Es muss mindestens 8 Zeichen lang sein.",
  :does-not-match "Die Passwörter stimmen nicht überein."},
 :outstanding-payments "Ausstehende Zahlungen",
 :section-none "Kein Register",
 :Email "E-Mail",
 :section "Register",
 :file
 {:choose-file "Wähle eine Datei aus",
  :name "Dateiname",
  :size "Größe"},
 :dashboard
 {:welcome "Willkommen %1!",
  :morning "Guten Morgen, %1",
  :afternoon "Guten Tag, %1",
  :evening "Guten Abend, %1",
  :nightowl "Hallo Nachteule, %1",
  :unanswered "Zukünftige Termine: Sag Bescheid!",
  :upcoming "Alle kommenden Termine"},
 :Active "Aktiv?",
 :login "Anmelden",
 :account
 {:account-created-title "Deine SNO-ID wurde erstellt!",
  :create-account "Konto erstellen",
  :password "Passwort",
  :create-sno-id-subtitle
  "Du bist nur noch wenige Schritte von deiner neuen SNO-ID entfernt!",
  :password-instructions "Muss mindestens 8 Zeichen lang sein",
  :create-sno-id-title "SNO ID erstellen",
  :password-confirm-instructions
  "Beide Passwörter müssen übereinstimmen",
  :password-confirm "Kennwort bestätigen",
  :account-created-subtitle
  "Herzlich willkommen! :) Bitte meldest du dich mit deiner neuen SNO-ID an"},
 :band-instruments "Band-Instrumente",
 :member
 {:active? "Aktiv?",
  :email "E-Mail",
  :nick "Spitzname",
  :open-invitations "Einladungen öffnen",
  :gigs-attended "Gigs besucht",
  :phone "Telefon",
  :name "Name",
  :username "Nutzername",
  :keycloak-id "SNO UUID",
  :insurance-title "Versicherung & Instrumente",
  :create-sno-id "SNO ID erstellen",
  :phone-validation
  "Telefonnummer, die mit +Landesvorwahl beginnt. Nur Leerzeichen, Bindestriche und Zahlen",
  :insurance-subtitle
  "Instrumente und andere Gegenstände, die zu Versicherungszwecken bei der Band angemeldet sind.",
  :username-validation
  "Der Benutzername darf nur A–Z, 0–9 _, ., - oder @ enthalten. Kein Leerzeichen.",
  :create-sno-id-description
  "Eine Einladung zum Erstellen einer SNO-ID wird an die Person per E-Mail gesendet, damit sie ein Konto erstellen und auf alle SNO-Online-Systeme zugreifen kann.",
  :probes-attended "Proben besucht",
  :new-member "Neues Mitglied"},
 :instruments "Instrumente",
 :Phone "Telefon",
 :band-instrument-description
 "Ein Bandinstrument ist ein Instrument, das im vergangenen Jahr bei einem SNO-Auftritt gespielt wurde.",
 :sno-id "SNO ID",
 :updating "Aktualisierung...",
 :action
 {:duplicate "Duplikat",
  :remove "Entfernen",
  :done "Fertig",
  :continue "Fortsetzen",
  :create "Erstellen",
  :edit "Bearbeiten",
  :delete "Löschen",
  :save "Speichern",
  :reorder "Neu anordnen",
  :quick-edit "Schnellbearbeitung",
  :comment "Kommentar",
  :confirm-generic "Bist du sicher?",
  :confirm-delete-gig "Möchten Sie den Gig %1 wirklich löschen?",
  :cancel "Abbrechen",
  :add "Hinzufügen",
  :download "Herunterladen",
  :confirm-delete-song "Möchten Sie das Lied %1 wirklich löschen?",
  :view "Sehen"},
 :error
 {:go-home "Go Home",
  :unauthorized-message
  "Ihre Identität ist dem System unbekannt. Wahrscheinlich ist etwas schief gelaufen. Bitte kontaktieren Sie Casey und teilen Sie ihm diesen Fehlercode mit:",
  :unknown-title "Ein Fehler ist aufgetreten",
  :member-unique-email "Ein Mitglied hat diese E-Mail-Adresse bereits",
  :unauthorized-title "Authentifizierung fehlgeschlagen",
  :unknown-message
  "Tut mir leid! Es ist nicht deine Schuld. Bitte kontaktieren Sie Casey und teilen Sie ihm diesen Fehlercode mit:",
  :not-found-title "Nicht gefunden",
  :not-found-message
  "Das Gesuchte wurde nicht gefunden. Wenn Sie der Meinung sind, dass es existieren sollte, wenden Sie sich bitte an ihn und teilen Sie ihm diesen Fehlercode mit:",
  :member-unique-phone "Ein Mitglied hat diese Telefonnummer bereits",
  :notify "Click to notify Casey",
  :member-unique-username
  "Ein Mitglied hat bereits diesen Benutzernamen"},
 :missing ":de missing text",
 :gigs
 {:title "Gigs & Proben",
  :upcoming "Kommend",
  :past "Vergangen",
  :no-past "Keine Gigs/Proben in den letzten 2 Wochen",
  :no-future "Keine bevorstehenden Gigs/Proben",
  :view-archive "Gig-Archiv anzeigen",
  :archive "Gig-Archiv"},
 :orange-and-green "orange und grün",
 :email-subject
 {:gig-created "Neuer Gig: %1", :gig-updated "Gig-Bearbeitung: %1"},
 :plan
 {:definitely "Sicher",
  :probably "Wahrscheinlich",
  :unknown "Weiß ich noch nicht",
  :probably-not "Wahrscheinlich nicht",
  :definitely-not "Kann nicht",
  :not-interested "Nicht interessiert",
  :no-response "Keine Antwort"},
 :private-instrument "Privates Instrument",
 :gig
 {:description "Beschreibung des öffentlichen Auftritts",
  :no-comments "Keine Kommentare.",
  :email-about-change? "Sende Mitgliedern eine Email?",
  :date "Datum",
  :attendance "Teilnahme",
  :end-date "Enddatum",
  :show-committed "Zeige fixe Zusagen",
  :description-help
  "Dieser Text wird auf der Website unter kommende Gigs verwendet.",
  :answer-link-submitted "Deine Antwort wurde gesendet - danke!",
  :pay-deal "Bezahlung",
  :comment-placeholder "Melde dich zu Wort!",
  :end-time "Ende",
  :probe-info "Probeninfos",
  :call-time "Beginn",
  :probeplan-sort
  "Ziehen Sie die Songs in die Probeplan-Reihenfolge und markieren Sie höchstens 2 als intensiv.",
  :play-log-subtitle
  "Hier kannst du aufnehmen, was bei diesem Gig/Probe gespielt wurde.",
  :title "Titel",
  :probeplan-choose "Wählen Sie 5 Lieder aus.",
  :gig-type "Art",
  :more-details "Mehr Details",
  :was-planned-to-play "Es war geplant, diese Lieder zu spielen:",
  :create-title "Gig erstellen",
  :probeplan "Probeplan",
  :leader "Dirigent",
  :status "Status",
  :setlist "Setliste",
  :end-day "Enddatum",
  :post-gig-plans "Nach dem Auftritt",
  :set-time "Termin",
  :outfit "Adjustierung",
  :gig-info "Gig-Info",
  :create-probeplan "Probeplan erstellen",
  :show-all "Zeige alle",
  :location "Ort",
  :contact "Kontakt",
  :email-about-new?
  "Sende Mitgliedern eine Email über diesen neuen Termin?",
  :more-details-placeholder "wer? was? wo? wann? wieso den?",
  :create-setlist "Setliste erstellen"},
 :nav
 {:insurance "Versicherung",
  :home "Home",
  :songs "Repertoire",
  :logout "Abmelden",
  :settings "Einstellungen",
  :notifications "Benachrichtigungen",
  :probeplan "Probenplan",
  :members "Mitglieder",
  :gigs "Gigs & Probes",
  :profile "Profil"},
 :band-instrument "Band-Instrument",
 :none "Keiner",
 :song
 {:last-played "Zuletzt gespielt am",
  :other-sheet-music "Musescore, etc",
  :last-played-gig "Zuletzt gespielter Gig",
  :composition-credits "Komposition von",
  :probe-count "Probe zählen",
  :choose-sheet-music-subtitle "Für Register: %1",
  :choose-sheet-music-title "Wählen Sie Notendatei",
  :total-plays "Gesamtzahl der Spiele",
  :solo-count "# Solos",
  :log-play "Log-Play",
  :last-played-probe "Zuletzt gespielte Probe",
  :total-rehearsals "Insgesamt Proben",
  :search "Lieder suchen",
  :gig-count "Anzahl der Gigs",
  :title "Song Titel",
  :create-title "Lied hinzufügen",
  :active "Aktiv?",
  :score "Punktzahl",
  :total-performances "Gesamtleistungen",
  :arrangement-notes "Arrangement-Info",
  :origin "Herkunft",
  :arrangement-credits "Arrangiert von",
  :search-empty "Keine Lieder gefunden",
  :play-stats-title "Statistiken spielen",
  :sheet-music-title "Noten",
  :background-title "Hintergrund",
  :list-title "Repertoire"}}
