{:please-pay-to-band
 "Bitte überweise %1 an den Streetnoise Bankaccount.",
 :motivation
 {:none "-",
  :very-high "Sehr motiviert!",
  :high "Motiviert",
  :medium "Ambivalent",
  :low "Nicht Motiviert",
  :very-low "Gar nicht Motiviert!"},
 :private-instruments "Private Instrumente",
 :ledger
 {:add-transaction "Zahlung hinzufügen",
  :add-payment "Zahlung hinzufügen",
  :add-debt "Register hinzufügen"},
 :insurance
 {:error-edit-frozen-policy
  "Cannot update instrument and coverage on a policy that is not in draft status",
  :email-p3
  "Möchtest du genau wissen woraus sich deine Kosten zusammenstellen, kannst du dies im Forum unter folgendem Link nachlesen.",
  :item-count-hint
  "Wieviele identische Produkte möchtest du versichern (z.B. 1x Trompete/ 4x Drumsticks…)?",
  :total-needs-review-tooltip "Total instruments that need review",
  :coverage-for "Die folgenden Informationen gelten für: %1",
  :total-total-changed-tooltip "Total instruments that have changed",
  :policies "Versicherungspolicen",
  :insurance-policy "Versicherungspolice",
  :total-total-removed-tooltip
  "Total instruments that have been removed",
  :name "Name der Versicherungspolice",
  :value "Versicherungswert",
  :request-payments-title "Versicherung & Instrumente",
  :send-changes "Send Changes",
  :confirm-and-send "Fixiert!",
  :email-p5
  "Solltest du weitere Fragen haben, kannst du dich gerne bei uns melden.",
  :send-changes-disabled-hint
  "Changes cannot be sent while there are open TODOs",
  :email-p1
  "wir möchten dich darum bitten deine Versicherungskosten an das Street Noise Orchestra zu überweisen. Es handelt sich dabei um Kosten für privat versicherte Instrumente für den Zeitraum: ",
  :effective-at "Gültig bei",
  :title "Versicherung & Instrumente",
  :dashboard-title "Versicherung",
  :value-abbrev "V.S.",
  :total "Gesamt",
  :create-title "Neue Versicherungspolice",
  :confirm-skip-send "Confirm without Sending",
  :send-payment-notifications "Benachrichtigungen",
  :coverage-types "Art der Versicherungsdeckung",
  :confirm-mark-as-button "Markieren als",
  :coverage-type-description "Beschreibung",
  :item-count "Stückzahl",
  :category-factors "Kategoriefaktoren",
  :email-p4
  "Im Falle eines Schadens findest du die Anleitung für eine Schadensmeldung und das dazu gehörige Schadensformular im Anhang.",
  :value-hint
  "Bei mehreren versicherten Gegenständen bitte nur den Stückpreis angeben",
  :email-p2 "Versicherungswert",
  :premium-base-factor "Premium-Basisfaktor",
  :premium-factor "Premium-Faktor",
  :instrument-coverage "Versicherungsdeckung für Instrumente",
  :bank-data "Bankdaten",
  :cost "Cost",
  :coverage-name "Name des Versicherungsdeckung",
  :confirm-mark-as
  "Sind Sie sicher, dass Sie das Lied %1 löschen möchten?",
  :request-payments-subtitle
  "The following members have private instruments insured, and need to be notified.",
  :email-subject "Versicherungswert",
  :total-total-new-tooltip "Total instruments that have been added",
  :confirm-mark-as-title "Markieren als",
  :create-subtitle "Details zur neuen Versicherungspolice.",
  :effective-until "Gültig bis",
  :covered-instruments "Instrumente mit Versicherung"},
 :email
 {:invite-expired
  "Entschuldigung, der Einladungscode ist abgelaufen, bitte frag nach einem neuen!",
  :gig-edit-type "BEARBEITET",
  :gig-info-page "Bring mich zur Gig-Info-Seite",
  :want-reminder "Erinnere mich in ein paar Tagen daran",
  :sign-off "Mit groovigen Grüßen — SNObot",
  :gig-edited "An einem Gig hat sich etwas geändert!",
  :remind-extra-probe
  "Dies ist eine Erinnerung an eine bevorstehende Extrasonde! Bitte antworten :)",
  :cannot-make-it "Ich schaffe es nicht",
  :body-log-plays
  "Bitte erzählt SNOrga, was wir bei der Probe am %1 gespielt haben *und* wer die Probeleitung für nächste Woche ist! Es dauert nur 1 Minute.",
  :subject-log-plays "Was haben wir im Probe gespielt?",
  :sign-off-insurance-team "Versicherungsteam StreetNoise Orchestra",
  :new-probe-added "Eine neue Probe steht an!",
  :need-to-change-availability? "Ich muss meine Verfügbarkeit ändern",
  :can-you-make-it? "Kannst du es schaffen?",
  :cta-log-plays "Klicken Sie hier!",
  :remind-probe
  "Dies ist eine Erinnerung an eine bevorstehende Untersuchung! Bitte antworten :)",
  :invite-new-user-intro2
  "Klickst du auf den Link unten, um dein Konto einzurichten.",
  :invite-new-user-intro
  "Du hast eine Einladung erhalten, eine StreetNoise Orchestra (SNO)-ID zu erstellen!",
  :greeting-personal "Liebe:r %1",
  :sign-off-personal "Danke und liebe Grüße,",
  :remind-gig
  "Dies ist eine Erinnerung an einen bevorstehenden Auftritt! Bitte antworten :)",
  :can-make-it "Ich kann es schaffen!",
  :new-extra-probe-added "Eine neue Extraprobe steht an!",
  :greeting "Hallo!",
  :new-meeting-added "Ein neues Treffen steht an!",
  :new-gig-added "Ein neuer Gig steht an!",
  :remind-meeting
  "Dies ist eine Erinnerung an ein bevorstehendes Treffen! Bitte antworten :)"},
 :polls
 {:index-title "Polls",
  :create-title "Neue Umfrage",
  :running "Offene Umfragen",
  :past "Vergangene Umfragen",
  :no-past "Es gibt keine früheren Umfragen",
  :no-running "Es gibt keine offenen Umfragen"},
 :gig.type
 {:probe "Probe",
  :extra-probe "Extraprobe",
  :meeting "Treffen",
  :gig "Gig"},
 :instrument
 {:photo-upload-subtitle
  "Laden Sie ein paar Fotos hoch, die das Instrument/den Gegenstand aus verschiedenen Blickwinkeln zeigen.",
  :description "Beschreibung",
  :category "Kategorie",
  :build-year "Baujahr",
  :serial-number "Seriennummer",
  :if-available "wenn verfügbar",
  :make "Marke",
  :instrument "Instrument",
  :name "Instrumentenname",
  :images-internal-url nil,
  :create-title "Neues Instrument",
  :description-hint "Z.B. farbe, material",
  :photo-upload-title "Band-Instrumente",
  :images-share-url-hint "Use this link when sharing outside the band",
  :images-share-url "Photos Public Link",
  :create-subtitle "Details zum Instrument",
  :owner "Inhaber:in",
  :photo-upload "Foto-Upload",
  :images-internal-url-hint nil,
  :model "Modell"},
 :selected "ausgewählt",
 :play-log
 {:not-played "Nicht gespielt",
  :nice "Nice!",
  :okay "Okay",
  :bad "Uh-oh",
  :intensive "Intensiver Fokus",
  :diagram-legend "Legende"},
 :gig.status
 {:confirmed "Fixiert!",
  :unconfirmed "Nicht fixiert",
  :cancelled "Abgesagt"},
 :now "jetzt",
 :private-instrument-description
 "Ein privates Instrument ist ein Instrument, das der Besitzer auf eigene Kosten versichern wird.",
 :sections "Registers",
 :Contact-Download "Kontakt herunterladen",
 :band-private "Band/Privat",
 :Contact-Information "Kontakt Informationen",
 :instrument.coverage.change
 {:new "Added",
  :removed "Entfernen",
  :none "No changes",
  :changed "Modified"},
 :password
 {:commonly-used
  "Das Passwort ist ein bekanntes gehacktes Passwort. Bitte wähle ein sicheres Passwort.",
  :too-short
  "Das Passwort ist zu kurz. Es muss mindestens 8 Zeichen lang sein.",
  :does-not-match "Die Passwörter stimmen nicht überein."},
 :outstanding-balance "Ausstehende Zahlungen",
 :travel-discounts
 {:discount-type-name "Rabatttyp",
  :expiry-date "Läuft aus am",
  :title "Reiserabatte",
  :subtitle "Fügen Sie Ihre ÖBB-Reiserabatte hinzu",
  :none "Keine Reiseermäßigungen",
  :add-discount-type "ÖBB-Rabatttyp hinzufügen",
  :add-discount "ÖBB-Rabatt hinzufügen"},
 :money-input-format-error "Enter currency amount like 42,05",
 :section-none "Kein Register",
 :Email "E-Mail",
 :section "Register",
 :file
 {:choose-file "Wähle eine Datei aus",
  :name "Dateiname",
  :size "Größe"},
 :team.type {:insurance "Versicherung"},
 :choose-calendar-app "Wählen Sie Ihre Kalender-App",
 :dashboard
 {:afternoon "Guten Tag, %1",
  :welcome "Willkommen %1!",
  :morning "Guten Morgen, %1",
  :upcoming "Alle kommenden Termine",
  :nightowl "Hallo Nachteule, %1",
  :unanswered "Zukünftige Termine: Sag Bescheid!",
  :insurance-todo "Versicherung",
  :you-owe "You owe the band some money!",
  :polls-open "Wir haben offene Umfragen!",
  :evening "Guten Abend, %1"},
 :history
 {:title "History of Changes",
  :subtitle-coverage "Changes to the coverage of this instrument",
  :retracted "Retracted",
  :updated "Aktualisieren",
  :added "Added"},
 :oebb-discount "ÖBB-Rabatt",
 :my-profile "Profil",
 :or-scan-qr-code "Or scan this QR Code with your banking app",
 :Active "Aktiv?",
 :insurance.survey
 {:edit-survey "Edit Survey",
  :confirm-close "This will close the survey for all members.",
  :email-p3
  "You have until %1 to complete the survey (that's only %2 days!).",
  :all-done "Alle Lieder",
  :cta-p1 "%1, it's time to review your insured instruments/items.",
  :closes-at-hint
  "Ein Datum und eine Uhrzeit, wann die Umfrage keine Antworten mehr annimmt.",
  :send-notifications "Benachrichtigungen",
  :cta-p2
  "You have %1 items to review, it should take about %2 minutes. Ready to go?",
  :email-p2-many
  "Or add new ones! It only takes a few minutes (unless you're %1 who has %2 to review!)",
  :cta-p2-none
  "You don't have any insured instruments to review. But you should add new ones!",
  :start-survey "Start Survey",
  :completed-count "%1 of %2 completed",
  :no-surveys "No open surveys",
  :closes-at "Geschlossen am",
  :start-button "Start Review",
  :admin-subtitle
  "Get the whole band to check/control all their insured instruments.",
  :email-p1 "It's time to review your insured instruments/items.",
  :admin-title "Band-Instrument",
  :survey-name "Survey Name",
  :close-survey "Früh schließen",
  :email-p2 "Or add new ones! It only takes a few minutes.",
  :confirm-close-title "Früh schließen",
  :email-title "Neue Versicherungspolice"},
 :login "Anmelden",
 :poll
 {:description "Beschreibung der Umfrage",
  :max-choice "Maximale Auswahl",
  :open-hint
  "Sie müssen die Umfrage öffnen, bevor die Leute abstimmen können. ACHTUNG! Nachdem Sie es geöffnet haben, können Sie es nicht mehr ändern.",
  :select-num-choices "Wählen Sie zwischen den Optionen %1 und %2.",
  :min-choice-hint
  "Die Mindestanzahl an Entscheidungen, die eine Person treffen kann.",
  :closes-at-hint
  "Ein Datum und eine Uhrzeit, wann die Umfrage keine Antworten mehr annimmt.",
  :autoremind-hint
  "Erinnern die Personen, die noch nicht geantwortet haben, alle paar Tage daran.",
  :vote-now "Jetzt abstimmen!",
  :min-choice "Min. Auswahl",
  :total-voters "Wähler",
  :add-option "Option hinzufügen",
  :error-only-one "Sie können nur für eine Option stimmen",
  :closes-at "Schließt automatisch um",
  :choices "Auswahlmöglichkeiten",
  :days-left "Tage übrig",
  :title "Titel der Umfrage",
  :poll "Umfrage",
  :error-between
  "Sie können nur für Optionen zwischen %1 und %2 stimmen",
  :error-not-open
  "Sie können nicht für eine Umfrage stimmen, die nicht geöffnet ist",
  :poll-type "Umfragetyp",
  :close-early "Früh schließen",
  :autoremind? "Automatische Erinnerung?",
  :description-hint
  "Erzählen Sie den Leuten, worum es in dieser Umfrage geht. Abschriften sind zulässig.",
  :total-votes "Gesamte stimmen",
  :options-read-only-hint
  "Sobald eine Umfrage geöffnet wurde, können die Auswahlmöglichkeiten nicht mehr geändert werden.",
  :closed-on "Geschlossen am",
  :options "Optionen",
  :max-choice-hint
  "Die maximale Anzahl an Entscheidungen, die eine Person treffen kann.",
  :results "Umfrageergebnisse"},
 :no-transactions-yet "No transactions yet",
 :insurance.policy.status
 {:active "Aktiv?", :sent "Sent", :draft "Draft"},
 :account
 {:account-created-title "Deine SNO-ID wurde erstellt!",
  :create-account "Konto erstellen",
  :password "Passwort",
  :create-sno-id-subtitle
  "Du bist nur noch wenige Schritte von deiner neuen SNO-ID entfernt!",
  :password-instructions "Muss mindestens 8 Zeichen lang sein",
  :create-sno-id-title "SNO ID erstellen",
  :password-confirm-instructions
  "Beide Passwörter müssen übereinstimmen",
  :password-confirm "Kennwort bestätigen",
  :account-created-subtitle
  "Herzlich willkommen! :) Bitte meldest du dich mit deiner neuen SNO-ID an."},
 :band-instruments "Band-Instrumente",
 :member
 {:active? "Aktiv?",
  :email "E-Mail",
  :nick "Spitzname",
  :filter-sno-id-disabled "SNO-ID deaktiviert",
  :open-invitations "Einladungen öffnen",
  :gigs-attended "Gigs besucht",
  :phone "Telefon",
  :name "Name",
  :sno-id-enabled "Aktiviert",
  :username "Nutzername",
  :filter-inactive "Inaktive Mitglieder",
  :filter-all "Alle Mitglieder",
  :filter-active "Aktive Mitglieder",
  :keycloak-id "SNO UUID",
  :insurance-title "Versicherung & Instrumente",
  :sno-id-disabled "Deaktiviert",
  :create-sno-id "SNO ID erstellen",
  :sno-id-enable-disabled-tooltip
  "Wenn die Option deaktiviert ist, kann sich der Benutzer nicht bei SNO-Systemen anmelden.",
  :phone-validation
  "Telefonnummer, die mit +Landesvorwahl beginnt. Nur Leerzeichen, Bindestriche und Zahlen",
  :insurance-subtitle
  "Instrumente und andere Gegenstände, die zu Versicherungszwecken bei der Band angemeldet sind.",
  :username-validation
  "Der Benutzername darf nur A–Z, 0–9 _, ., - oder @ enthalten. Kein Leerzeichen.",
  :create-sno-id-description
  "Eine Einladung zum Erstellen einer SNO-ID wird an die Person per E-Mail gesendet, damit sie ein Konto erstellen und auf alle SNO-Online-Systeme zugreifen kann.",
  :probes-attended "Proben besuchtaProben Attended",
  :new-member "Neues Mitglied",
  :sno-id-enabled-disabled "SNO-ID aktiviert/deaktiviert"},
 :instruments "Instrumente",
 :good-job "Good Job!",
 :total "Gesamt",
 :youve-completed-plural "You've completed %1 items! %2 left to go!",
 :Phone "Telefon",
 :team
 {:name "Name des Versicherungsdeckung",
  :members "Mitglieder",
  :create-team "Erstellen",
  :add-member "Alle Mitglieder",
  :choose-remove-members "Choose members to remove",
  :team-type "Art"},
 :private-instrument-payment
 "Die Kosten der Versicherung privater Instrumente werden nicht von Street Noise übernommen.",
 :col
 {:member "Mitglieder",
  :completed? "Completed?",
  :num-reviewed "Kontrolliert",
  :total-instruments "Band-Instrumente"},
 :instrument.coverage.status
 {:needs-review "Todo",
  :reviewed "Kontrolliert",
  :coverage-active "Aktiv?"},
 :youve-completed-sing "You completed one item! %1 left to go!",
 :band-instrument-description
 "Ein Bandinstrument ist ein Instrument, das im vergangenen Jahr bei einem SNO-Auftritt gespielt wurde.",
 :poll.type
 {:multiple "Mehrfachauswahl",
  :single "Einzelauswahl",
  :multiple-hint "Menschen können mehrere Optionen wählen.",
  :single-hint "Menschen können nur eine Option wählen."},
 :sno-id "SNO ID",
 :band-owes-you "The band owes you %1! Please contact the treasurer.",
 :updating "Aktualisierung…",
 :time-left "Time Remaining",
 :section-add "Register hinzufügen",
 :action
 {:confirm-open-poll "Ja, öffnen die Umfrage.",
  :confirm-delete-instrument
  "Sind Sie sicher, dass Sie das Lied %1 löschen möchten?",
  :duplicate "Duplikat",
  :im-finished "I'm Finished",
  :confirm-close "Ja, schließen es.",
  :remove "Entfernen",
  :vote "Abstimmung!",
  :done "Fertig",
  :continue "Fortsetzen",
  :keep-going "Keep Going",
  :change-vote "Abstimmung ändern",
  :confirm-delete-policy
  "Sind Sie sicher, dass Sie die Versicherungspolice %1 löschen möchten?",
  :create "Erstellen",
  :create-gig "Gig erstellen",
  :edit "Bearbeiten",
  :copy-link-confirm "Kopiert",
  :update "Aktualisieren",
  :delete "Löschen",
  :confirm-delete "Ja, löschen es.",
  :save "Speichern",
  :celebrate "Celebrate!",
  :copy-link "Link kopieren",
  :search "Suchen",
  :confirm-close-poll
  "Sind Sie sicher, dass Sie die Umfrage „%1“ schließen möchten?",
  :reorder "Neu anordnen",
  :confirm-delete-poll
  "Sind Sie sicher, dass Sie die Umfrage „%1“ löschen möchten?",
  :ignore "Ignore",
  :select-all "Wählen Alle",
  :quick-edit "Schnellbearbeitung",
  :mark-as "Markieren als",
  :next "Nächste",
  :back "Zurück",
  :confirm-delete-team "Möchten Sie den Gig %1 wirklich löschen? ",
  :comment "Kommentar",
  :send "Send",
  :add-to-calendar "Zum Kalender hinzufügen",
  :confirm-generic "Bist du sicher?",
  :confirm-delete-gig "Möchten Sie den Gig %1 wirklich löschen? ",
  :cancel "Abbrechen",
  :add "Hinzufügen",
  :download "Herunterladen",
  :subscribe "Abonnieren",
  :confirm-delete-song
  "Sind Sie sicher, dass Sie das Lied %1 löschen möchten?",
  :view "Sehen",
  :open-insurance-survey "Neue Versicherungspolice",
  :open-poll "Umfrage öffnen"},
 :error
 {:go-home "Go Home",
  :unauthorized-message
  "Ihre Identität ist dem System unbekannt. Wahrscheinlich ist etwas schief gelaufen. Bitte kontaktieren Sie Casey und teilen Sie ihm diesen Fehlercode mit:",
  :unknown-title "Ein Fehler ist aufgetreten",
  :member-unique-email "Ein Mitglied hat diese E-Mail-Adresse bereits",
  :unauthorized-title "Authentifizierung fehlgeschlagen",
  :unknown-message
  "Tut mir leid! Es ist nicht deine Schuld. Bitte kontaktieren Sie Casey und teilen Sie ihm diesen Fehlercode mit:",
  :not-found-title "Nicht gefunden",
  :not-found-message "Das Gesuchte wurde nicht gefunden. Wenn Sie der Meinung sind, dass es existieren sollte, wenden Sie sich bitte an Casey und teilen Sie ihm diesen Fehlercode mit:",
  :member-unique-phone "Ein Mitglied hat diese Telefonnummer bereits",
  :notify "Click to notify Casey",
  :member-unique-username
  "Ein Mitglied hat bereits diesen Benutzernamen"},
 :reminders
 {:remind-me-in "Erinnere mich in",
  :remind-all "Erinnern alle",
  :confirm-remind-all-title "Alle daran erinnern?",
  :confirm-remind-all
  "Dadurch wird eine E-Mail an alle gesendet, die noch nicht geantwortet haben. Bist du sicher?",
  :confirm "Ja, senden allen eine E-Mail",
  :one-day "1 Tag",
  :three-days "3 Tage",
  :one-week "1 Woche"},
 :instrument.coverage
 {:private? "Band/Privat",
  :instrument "Instrument",
  :cost-hint
  "The cost to insure the instrument. If private, the owner must pay this.",
  :create-button "Instrument",
  :value "Versicherungswert",
  :cost-hint-direct "You'll have to pay this to the band.",
  :types "Art der Versicherungsdeckung",
  :status "Workflow Status",
  :item-count "Probe zählen",
  :value-hint
  "The estimated market value of the item, i.e., how much it would cost to replace it if lost.",
  :cost "Cost",
  :change "Abstimmung ändern",
  :coverage-id "Name des Versicherungsdeckung",
  :private?-hint
  "Is this instrument a band instrument or private instrument?"},
 :missing ":de missing text",
 :ledger.entry
 {:amount "Stückzahl",
  :tx-date "Transaction Date",
  :description "Reference",
  :direction-debit "%1 owes the band",
  :direction-credit "The band owes %1",
  :payment-direction-debit "The band paid %1",
  :payment-direction-credit "%1 paid the band"},
 :gigs
 {:title "Gigs & Proben",
  :upcoming "Kommend",
  :past "Vergangen",
  :no-past "Keine Gigs/Proben in den letzten 2 Wochen",
  :no-future "Keine bevorstehenden Gigs/Proben",
  :view-archive "Gig-Archiv anzeigen",
  :archive "Gig-Archiv"},
 :orange-and-green "orange und grün",
 :email-subject
 {:gig-created "Neuer Gig: %1",
  :gig-updated "Gig-Bearbeitung: %1",
  :gig-reminder "Gigerinnerung: %1",
  :new-invite "Ihre SNO-ID wartet auf Sie.",
  :poll-created "Neue Umfrage: %1",
  :insurance-survey "It's SNO Insurance Time!"},
 :plan
 {:definitely "Sicher",
  :probably "Wahrscheinlich",
  :unknown "Weiß ich noch nicht",
  :probably-not "Wahrscheinlich nicht",
  :definitely-not "Kann nicht",
  :not-interested "Nicht interessiert",
  :no-response "Keine Antwort"},
 :private-instrument "Privates Instrument",
 :gig
 {:description "Beschreibung des öffentlichen Auftritts",
  :no-comments "Keine Kommentare.",
  :email-about-change? "Sende Mitgliedern eine Email?",
  :date "Datum",
  :attendance "Teilnahme",
  :end-date "Enddatum",
  :show-committed "Zeige fixe Zusagen",
  :description-help
  "Dieser Text wird auf der Website unter kommende Gigs verwendet.",
  :answer-link-submitted "Deine Antwort wurde gesendet - danke!",
  :pay-deal "Bezahlung",
  :comment-placeholder "Melde dich zu Wort!",
  :end-time "Ende",
  :probe-info "Probeninfos",
  :call-time "Beginn",
  :probeplan-sort
  "Ziehen Sie die Songs in die Probeplan-Reihenfolge und markieren Sie höchstens 2 als intensiv.",
  :play-log-subtitle
  "Hier kannst du aufnehmen, was bei diesem Gig/Probe gespielt wurde.",
  :title "Titel",
  :probeplan-choose "Wählen Sie 5 Lieder aus.",
  :gig-type "Art",
  :more-details "Mehr Details",
  :was-planned-to-play "Es war geplant, diese Lieder zu spielen:",
  :create-title "Gig erstellen",
  :probeplan "Probeplan",
  :leader "Dirigent",
  :status "Status",
  :setlist "Setliste",
  :end-day "Enddatum",
  :create-a-forum-thread? "Einen Thread im Forum erstellen?",
  :post-gig-plans "Nach dem Auftritt",
  :set-time "Termin",
  :rehearsal-leader1 "Probeleitung 1",
  :outfit "Adjustierung",
  :gig-info "Gig-Info",
  :create-probeplan "Probeplan erstellen",
  :show-all "Zeige alle",
  :location "Ort",
  :contact "Kontakt",
  :email-about-new?
  "Sende Mitgliedern eine Email über diesen neuen Termin?",
  :end-time-warning
  "ACHTUNG: Die Endzeit wird nur geschätzt. Jemand hat dieses Feld in SNOrga nicht ausgefüllt.",
  :rehearsal-leader2 "Probeleitung 2",
  :more-details-placeholder "wer? was? wo? wann? wieso den?",
  :create-setlist "Setliste erstellen"},
 :stats
 {:least-active-probe-count-tooltip
  "Probe with least attendance had this many people",
  :probe-attendance-rate-tooltip
  "Percentage of the active band attending rehearsals in the timeframe.",
  :last-six-months "Letzte 6 Monate",
  :total-gigs "Alle Gigs",
  :gigs-attended "Gigs besucht",
  :gigs-percent-tootlip
  "The percentage of gigs the member attended in the timeframe",
  :mean-attendance-probe "Durchschnittliche Anwesenheit / Proben",
  :total-gigs-tooltip
  "The total number of gigs that happened in the timeframe",
  :total-plays "Gesamtzahl der Spiele",
  :active-members-count-tooltip
  "The number of members that were marked as \"active\" in SNOrga during the timeframe",
  :probe-attendance "Proben besucht",
  :least-active-probe-count "Zuletzt gespielte Probe",
  :total-probes-tooltip
  "The total number of rehearsals that happened in the timeframe",
  :last-three-months "Letzte 3 Monate",
  :gig-attendance "Teilnahme Gigs",
  :most-active-gig-count-tooltip
  "Gig with most attendance had this many people",
  :total-plays-tooltip
  "The total number of plays that were logged for songs in the timeframe. Note: this is a lower bound, since if we play a song twice at at gig it only counts as one play.",
  :mean-attendance-gig "Duchschnittliche Anwesenheit / Gigs",
  :gig-attendance-rate-tooltip
  "Percentage of the active band attending gigs in the timeframe.",
  :gigs-percent "Gigs %",
  :attendance-rate "Anwesenheitsrate (%)",
  :last-seen "Zuletzt gesehen",
  :most-active-probe-count-tooltip
  "Probe with most attendance had this many people",
  :num-members "Anzahl Mitglieder",
  :mean-attendance-gig-tooltip
  "Average number of members attending gigs.",
  :probes-percent-tooltip
  "The percentage of rehearsals the member attended in the timeframe",
  :mean-attendance-probe-tooltip
  "Average number of members attending rehearsals.",
  :total-probes "Anzahl Proben",
  :last-seen-tooltip
  "The date on which the member was last recorded at a gig or rehearsal",
  :most-active-probe-count "Anzahl Proben",
  :gig-attendance-rate "Teilnahmerate Gigs",
  :least-active-gig-count-tooltip
  "Gig with least attendance had this many people",
  :probe-attendance-rate "Teilnahmerate Proben",
  :probes-attended "Proben besucht",
  :least-active-gig-count "Zuletzt gespielter Gig",
  :probes-attended-tooltip
  "The number of rehearsals the member attended in the timeframe",
  :active-members-count "Aktive Mitglieder",
  :last-year "Letztes Jahr",
  :most-active-gig-count "Alle Gigs",
  :gigs-attended-tooltip
  "The number of gigs the member attended in the timeframe",
  :probes-percent "Proben (%)"},
 :nav
 {:insurance "Versicherung",
  :polls "Umfragen",
  :home "Home",
  :songs "Repertoire",
  :forum "Forum",
  :logout "Abmelden",
  :settings "Einstellungen",
  :chat "Chat",
  :notifications "Benachrichtigungen",
  :calendar "Kalender",
  :probeplan "Probenplan",
  :nextcloud "Data",
  :members "Mitglieder",
  :gigs "Gigs & Proben",
  :stats "Stats",
  :profile "Profil",
  :band-settings "Bandeinstellungen"},
 :band-instrument "Band-Instrument",
 :none "Keiner",
 :song
 {:last-played "Zuletzt gespielt am",
  :other-sheet-music "Musescore, etc",
  :last-played-gig "Zuletzt gespielter Gig",
  :composition-credits "Komposition von",
  :probe-count "Probe zählen",
  :choose-sheet-music-subtitle "Für Register: %1",
  :choose-sheet-music-title "Wählen Sie Notendatei",
  :total-plays "Gesamtzahl der Spiele",
  :solo-count "# Solos",
  :log-play "Log-Play",
  :last-played-probe "Zuletzt gespielte Probe",
  :total-rehearsals "Insgesamt Proben",
  :lyrics "Liedtext",
  :filter-inactive "Inaktive Songs",
  :search "Lieder suchen",
  :filter-all "Alle Lieder",
  :filter-active "Aktive Lieder",
  :gig-count "Anzahl der Gigs",
  :title "Song Titel",
  :create-title "Lied hinzufügen",
  :active "Aktiv?",
  :score "Punktzahl",
  :total-performances "Gesamtleistungen",
  :arrangement-notes "Arrangement-Info",
  :origin "Herkunft",
  :arrangement-credits "Arrangiert von",
  :search-empty "Keine Lieder gefunden",
  :play-stats-title "Statistiken spielen",
  :sheet-music-title "Noten",
  :background-title "Hintergrund",
  :list-title "Repertoire"}}
