{:missing ":en missing text"
 :now "now"
 :Contact-Information "Contact Information"
 :Email "E-Mail"
 :Phone "Phone"
 :Active "Active?"
 :member {:insurance-title "Insurance & Instruments"
          :insurance-subtitle "Instruments and other items registered with the band for insurance purposes."
          :name "Name"
          :nick "Nickname"}
 :band-instruments "Band Instruments"
 :private-instruments "Private Instruments"
 :outstanding-payments "Outstanding Payments"
 :instruments "Instruments"
 :none "None"
 :section "Section"
 :section-none "No Section"
 :action {:edit "Edit"
          :save "Save"
          :cancel "Cancel"}
 :motivation {:none "-"
              :very-high "Sehr motiviert!"
              :high "Motiviert"
              :medium "Ambivalent"
              :low "Nicht Motiviert"
              :very-low "Gar nicht Motiviert!"}
 :plan {:definitely "Definitely"
        :probably "Probably"
        :unknown "Don't Know"
        :probably-not "Probably Not"
        :definitely-not "Can't Do It"
        :not-interested "Not Interested"}}
