{:missing ":en missing text"
 :now "now"
 :Contact-Information "Contact Information"
 :Email "E-Mail"
 :Phone "Phone"
 :Active "Active?"
 :dashboard {:welcome "Welcome %1!"
             :morning "Good morning, %1"
             :afternoon "Good afternoon, %1"
             :evening "Good evening, %1"
             :nightowl "Hi there nightowl, %1"
             :unanswered "Need Attention!"
             :upcoming "All Upcoming Gigs"}
 :member {:insurance-title "Insurance & Instruments"
          :insurance-subtitle "Instruments and other items registered with the band for insurance purposes."
          :name "Name"
          :nick "Nickname"
          :username "Username"
          :phone "Phone"
          :keycloak-id "SNO UUID"
          :email "E-Mail"
          :active? "Active?"
          :gigs-attended "Gigs Attended"
          :probes-attended "Proben Attended"
          :new-member "New Member"
          :phone-validation "Phone number starting with +country code. Only spaces, dashes, and numbers"
          :username-validation "Username can only have A-Z, 0-9 _, ., -, or @. No spaces."
          :create-sno-id "Create SNO ID"
          :create-sno-id-description "An invitation to make a SNO ID will be e-mailed to the person so they can make an account an access all SNO online systems."
          :open-invitations "Open Invitations"
          :sno-id-enabled-disabled "SNO ID Enabled/Disabled"
          :sno-id-enable-disabled-tooltip "When disabled the user cannot login to any SNO systems."
          :sno-id-enabled "Enabled"
          :sno-id-disabled "Disabled"
          :filter-all "All Members"
          :filter-active "Active Members"
          :filter-inactive "Inactive Members"
          :filter-sno-id-disabled "SNO ID Disabled"}

 :travel-discounts {:discount-type-name "Discount Type"
                    :expiry-date "Expires On"
                    :title "Travel Discounts"
                    :subtitle "Add your ÖBB travel discounts"
                    :none "No travel discounts"
                    :add-discount-type "Add a ÖBB discount type"
                    :add-discount "Add a ÖBB discount"}
 :oebb-discount "ÖBB Discount"

 :sno-id "SNO ID"
 :gig.status {:confirmed "Confirmed!"
              :unconfirmed "Unconfirmed"
              :cancelled "Cancelled"}
 :gig.type {:probe "Probe"
            :extra-probe "Extra Probe"
            :meeting "Meeting"
            :gig "Gig"}

 :play-log {:not-played "Not Played"
            :nice "Nice!"
            :okay "Okay"
            :bad "Uh-oh"
            :intensive "Intensive focus"
            :diagram-legend "Legend"}

 :gig {:attendance "Attendance"
       :comment-placeholder "Say your piece!"
       :no-comments "No comments."
       :title "Title"
       :contact "Contact"
       :location "Location"
       :date "Date"
       :status "Status"
       :gig-type "Type"
       :end-date "End Date"
       :leader "Leader"
       :rehearsal-leader1 "Probeleitung 1"
       :rehearsal-leader2 "Probeleitung 2"
       :call-time "Call Time"
       :set-time "Set Time"
       :end-time "End Time"
       :end-day "End Day"
       :outfit "What To Wear"
       :pay-deal "Pay Deal"
       :more-details "More Details"
       :more-details-placeholder "who? what? where? when? why?"
       :email-about-change? "Email members about change?"
       :email-about-new? "Email members about this new gig?"
       :create-a-forum-thread? "Create a thread in the forum?"
       :setlist "Set List"
       :description "Public Gig Description"
       :description-help "This text will be used on the website under upcoming gigs."
       :post-gig-plans "Post Gig Plans"
       :gig-info "Gig Info"
       :probe-info "Probe Info"
       :show-all "Show All"
       :show-committed "Show Committed"
       :play-log-subtitle "Here you can record what was played at this gig/probe."
       :probeplan-sort "Drag the songs into probeplan order, and mark at most 2 as intensive."
       :probeplan "Probeplan"
       :probeplan-choose "Choose 5 songs."
       :create-probeplan "Make Probeplan"
       :create-setlist "Make Setlist"
       :create-title "Create Gig"
       :answer-link-submitted "Your answer has been submitted - thanks!"
       :was-planned-to-play "It was planned to play these songs:"}
 :orange-and-green "orange and green"

 :gigs {:title "Gigs & Proben"
        :upcoming "Upcoming"
        :past "Past"
        :no-past "No gigs/probes in the past 2 weeks"
        :no-future "No upcoming gigs/probes"
        :view-archive "View Gig Archive"
        :archive "Gig Archive"}
 :insurance {:title "Insurance & Instruments"
             :name "Policy Name"
             :policies "Policies"
             :item-count "Count"
             :item-count-hint "Wieviele identische Produkte möchtest du versichern (z.B. 1x Trompete/ 4x Drumsticks...)?"
             :value "Versicherungswert"
             :value-abbrev "V.S."
             :value-hint "Bei mehreren versicherten Gegenständen bitte nur den Stückpreis angeben"
             :total "Total"
             :insurance-policy "Insurance Policy"
             :effective-at "Effective At"
             :effective-until "Effective Until"
             :premium-base-factor "Premium Base Factor"
             :premium-factor "Premium Factor"
             :coverage-types "Coverage Types"
             :coverage-type-description "Description"
             :coverage-name "Coverage Name"
             :category-factors "Category Factors"
             :covered-instruments "Covered Instruments"
             :instrument-coverage "Instrument Coverage"
             :create-title "New Insurance Policy"
             :create-subtitle "Enter details for the new policy."
             :coverage-for "The following information is for: %1"}
 :instrument.coverage.status {:needs-review "Todo"
                              :reviewed "Reviewed"
                              :coverage-active "Active"}
 :instrument {:owner "Owner"
              :instrument "Instrument"
              :category "Category"
              :description "Description"
              :description-hint "Z.B. farbe, material"
              :make "Make"
              :model "Model"
              :name "Instrument Name"
              :serial-number "Serial Number"
              :if-available "if available"
              :build-year "Build Year"
              :create-title "New Instrument"
              :create-subtitle "Enter details for the Instrument"
              :photo-upload-title "Photo Upload"
              :photo-upload-subtitle "Upload a couple photos showing the instrument/item from several angles."}
 :nav {:home "Home"
       :forum "Forum"
       :nextcloud "Data"
       :gigs "Gigs & Proben"
       :probeplan "Probenplan"
       :songs "Repertoire"
       :members "Members"
       :insurance "Insurance"
       :profile "Profile"
       :settings "Settings"
       :band-settings "Band Settings"
       :notifications "Notifications"
       :logout "Logout"}
 :band-private "Band/Private"
 :band-instruments "Band Instruments"
 :band-instrument "Band Instrument"
 :band-instrument-description "A band instrument is an instrument that was played at a SNO gig in the past year."
 :private-instrument "Private Instrument"
 :private-instruments "Private Instruments"
 :private-instrument-description "A private instrument is an instrument that the owner will insure at their own expense."
 :private-instrument-payment "Die Kosten der Versicherung privater Instrumente werden nicht von Street Noise übernommen."
 :outstanding-payments "Outstanding Payments"
 :instruments "Instruments"
 :none "None"
 :section "Section"
 :sections "Sections"
 :section-add "Add Section"
 :section-none "No Section"
 :selected "selected"
 :action {:edit "Edit"
          :update "Update"
          :mark-as "Mark As"
          :search "Search"
          :quick-edit "Quick Edit"
          :done "Done"
          :select-all "Select All"
          :download "Download"
          :reorder "Reorder"
          :delete "Delete"
          :remove "Remove"
          :save "Save"
          :cancel "Cancel"
          :next "Next"
          :back "Back"
          :comment "Comment"
          :add "Add"
          :create "Create"
          :create-gig "Create Gig"
          :continue "Continue"
          :duplicate "Duplicate"
          :view "View"
          :confirm-generic "Are you sure?"
          :confirm-delete-song "Are you sure you want to delete the song %1?"
          :confirm-delete-policy "Are you sure you want to delete the insurance policy %1?"
          :confirm-delete-gig "Are you sure you want to delete the gig %1? "}
 :motivation {:none "-"
              :very-high "Sehr motiviert!"
              :high "Motiviert"
              :medium "Ambivalent"
              :low "Nicht Motiviert"
              :very-low "Gar nicht Motiviert!"}
 :plan {:definitely "Definitely"
        :probably "Probably"
        :unknown "Don't Know"
        :probably-not "Probably Not"
        :definitely-not "Can't Do It"
        :not-interested "Not Interested"
        :no-response "No Response"}
 :song {:create-title "Add Song"
        :create-subtitle ""
        :search "Search Songs"
        :search-empty "No songs found"
        :list-title "Repertoire"
        :title "Song Title"
        :active "Active?"
        :play-stats-title "Play Stats"
        :total-plays "Total Play Count"
        :total-performances "Total Performances"
        :total-rehearsals "Total Proben"
        :probe-count "Probe Count"
        :gig-count "Gig Count"
        :last-played "Last Played"
        :score "Score"
        :last-played-gig "Last Played Gig"
        :last-played-probe "Last Played Probe"
        :log-play "Log Play"
        :background-title "Background"
        :composition-credits "Composition By"
        :arrangement-credits "Arranged By"
        :arrangement-notes "Arrangement Info"
        :origin "Origin"
        :solo-count "# Solos"
        :sheet-music-title "Sheet Music"
        :choose-sheet-music-title "Choose Sheet Music File"
        :choose-sheet-music-subtitle "For section: %1"
        :other-sheet-music "Musescore, etc"}
 :file {:choose-file "Choose a File"
        :name "Filename"
        :size "Size"}
 :error {:unknown-title "Something went wrong"
         :unknown-message "Sorry about this! It's not your fault. Please contact Casey and tell him this error code:"
         :not-found-title "Not Found"
         :not-found-message "The thing you were looking for wasn't found. If you think it should exist, please contact and tell him this error code:"
         :unauthorized-title "Authentication failed"
         :unauthorized-message "Your identity is unknown to the system.. something probably went wrong. Please contact Casey and tell him this error code:"
         :go-home "Go Home"
         :notify "Click to notify Casey"
         :member-unique-username "A member already has that username"
         :member-unique-email "A member already has that email address"
         :member-unique-phone "A member already has that phone number"}
 :updating "Updating..."
 :email-subject {:gig-created "New Gig: %1"
                 :gig-updated "Gig Edit: %1"
                 :gig-reminder "Gig Reminder: %1"}
 :email {:greeting "Hello!"
         :new-gig-added "A new gig is coming up!"
         :new-probe-added "A new probe is coming up!"
         :new-extra-probe-added "A new extra-probe is coming up!"
         :new-meeting-added "A new meeting is coming up!"
         :remind-gig "This is a reminder about an upcoming gig! Please respond :)"
         :remind-probe "This is a reminder about an upcoming probe! Please respond :)"
         :remind-extra-probe "This is a reminder about an upcoming extra-probe! Please respond :)"
         :remind-meeting "This is a reminder about an upcoming meeting! Please respond :)"
         :gig-edited "Something has changed about a gig!"
         :gig-edit-type "EDITED"
         :need-to-change-availability? "I need to change my availability"
         :want-reminder "Remind me in a few days"
         :can-you-make-it? "Can you make it?"
         :can-make-it "I can make it!"
         :cannot-make-it "I cannot make it"
         :gig-info-page "Take me to the Gig Info page"
         :sign-off "Mit groovigen Grüßen — SNObot"
         :invite-expired "Sorry, the invitation code has expired. Please ask for a new one!"
         :invite-new-user-intro "You've received an invite to create a StreetNoise Orchestra (SNO) ID!"
         :invite-new-user-intro2 "Click the link below to setup your account."
         :subject-log-plays "What did we play at the Probe?"
         :body-log-plays "Please tell SNOrga what we played at the Probe on %1. It only takes 1 minute."
         :cta-log-plays "Click here!"}

 :account {:create-sno-id-title "Create SNO ID"
           :create-sno-id-subtitle "You're only a few steps away from your new SNO ID!"
           :password-instructions "Must be at least 8 characters"
           :password-confirm-instructions "Both passwords must match"
           :password "Password"
           :password-confirm "Confirm password"
           :create-account "Create account"
           :account-created-title "Your SNO ID was created!"
           :account-created-subtitle "Welcome :) Please login using your new SNO ID."}
 :password {:commonly-used "The password is a known hacked password. Please choose a more secure password."
            :too-short "The password is too short. It must be at least 8 characters."
            :does-not-match "The passwords do not match."}
 :login "Login"
 :reminders {:remind-me-in "Remind me in"
             :remind-all "Remind all"
             :confirm-remind-all-title "Remind everyone?"
             :confirm-remind-all "This will email everyone who hasn't responded yet. Are you sure?"
             :confirm "Yes, email everyone"
             :one-day "1 Day"
             :three-days "3 Days"
             :one-week "1 Week"}

 ;;
 }
