{:missing ":en missing text"
 :now "now"
 :Contact-Information "Contact Information"
 :Email "E-Mail"
 :Phone "Phone"
 :Active "Active?"
 :member {:insurance-title "Insurance & Instruments"
          :insurance-subtitle "Instruments and other items registered with the band for insurance purposes."
          :name "Name"
          :nick "Nickname"}
 :gig.status {:confirmed "Confirmed!"
              :unconfirmed "Unconfirmed"
              :cancelled "Cancelled"}
 :gig.type {:probe "Probe"
            :extra-probe "Extra Probe"
            :meeting "Meeting"
            :gig "Gig"}

 :gig {:comment-placeholder "Say your piece!"
       :no-comments "No comments."
       :title "Title"
       :contact "Contact"
       :location "Location"
       :date "Date"
       :status "Status"
       :gig-type "Type"
       :end-date "End Date"
       :leader "Leader"
       :call-time "Call Time"
       :set-time "Set Time"
       :end-time "End Time"
       :end-day "End Day"
       :outfit "What To Wear"
       :pay-deal "Pay Deal"
       :more-details "More Details"
       :more-details-placeholder "who? what? where? when? why?"
       :email-about-change? "Email members about change?"
       :email-about-new? "Email members about this new gig?"
       :setlist "Set List"
       :description "Public Gig Description"
       :post-gig-plans "Post Gig Plans"
       :gig-info "Gig Info"
       :probe-info "Probe Info"}

 :gigs {:title "Gigs & Probes"
        :upcoming "Upcoming"
        :past "Past"
        :no-past "No gigs/probes in the past 2 weeks"
        :no-future "No upcoming gigs/probes"}
 :band-instruments "Band Instruments"
 :private-instruments "Private Instruments"
 :outstanding-payments "Outstanding Payments"
 :instruments "Instruments"
 :none "None"
 :section "Section"
 :section-none "No Section"
 :action {:edit "Edit"
          :save "Save"
          :cancel "Cancel"
          :comment "Comment"
          :add "Add"
          :create "Create"}
 :motivation {:none "-"
              :very-high "Sehr motiviert!"
              :high "Motiviert"
              :medium "Ambivalent"
              :low "Nicht Motiviert"
              :very-low "Gar nicht Motiviert!"}
 :plan {:definitely "Definitely"
        :probably "Probably"
        :unknown "Don't Know"
        :probably-not "Probably Not"
        :definitely-not "Can't Do It"
        :not-interested "Not Interested"}
 :error {:unknown-title "Something went wrong"
         :unknown-message "Sorry about this. It's not your fault. Please contact Casey and tell him this error code:"
         :not-found-title "Not Found"
         :not-found-message "The thing you were looking for wasn't found. If you think it should exist, please contact and tell him this error code:"
         :go-home "Go Home"
         :notify "Click to notify Casey"}}
