@import "tailwindcss/base";
/*@import "./custom-base-styles.css";*/

@import "tailwindcss/components";
/*@import "./custom-components.css";*/

@import "tailwindcss/utilities";
/*@import "./custom-utilities.css";*/

:root {
  --yellow-400: #F5F569;
}

.btn {@apply inline-flex items-center border border-transparent font-medium rounded transition ease-in-out duration-150;}
.btn-xs { @apply px-2.5 py-1.5 text-xs leading-4; }
.btn-sm  { @apply px-3 py-2 text-sm leading-4; }
.btn-base  { @apply px-4 py-2 text-sm leading-5; }
.btn-lg  { @apply px-4 py-2 text-base leading-6; }
.btn-xl  { @apply px-6 py-3 text-base leading-6; }
.btn-full {
  @apply block w-full;

}

.btn-indigo-high {@apply text-white bg-indigo-600;}
.btn-indigo-high:hover {@apply bg-indigo-500;}
.btn-indigo-high:focus {@apply outline-none border-indigo-700 ring-indigo-500;}
.btn-indigo-high:active {@apply bg-indigo-700;}
.btn-indigo-normal {@apply text-indigo-700 bg-indigo-100;}
.btn-indigo-normal:hover {@apply bg-indigo-50;}
.btn-indigo-normal:focus {@apply outline-none border-indigo-300 ring-indigo-500;}
.btn-indigo-normal:active {@apply bg-indigo-200;}
.btn-indigo-low {@apply text-indigo-700;}
.btn-indigo-low:hover {@apply text-indigo-500;}
.btn-indigo-low:focus {@apply outline-none border-indigo-300 ring-indigo-500;}
.btn-indigo-low:active {@apply text-indigo-200;}

.btn-purple-high {@apply text-white bg-purple-600;}
.btn-purple-high:hover {@apply bg-purple-500;}
.btn-purple-high:focus {@apply outline-none border-purple-700 ring-purple-500;}
.btn-purple-high:active {@apply bg-purple-700;}
.btn-purple-normal {@apply text-purple-700 bg-purple-100;}
.btn-purple-normal:hover {@apply bg-purple-50;}
.btn-purple-normal:focus {@apply outline-none border-purple-300 ring-purple-500;}
.btn-purple-normal:active {@apply bg-purple-200;}
.btn-purple-low {@apply text-purple-700;}
.btn-purple-low:hover {@apply text-purple-500;}
.btn-purple-low:focus {@apply outline-none border-purple-300 ring-purple-500;}
.btn-purple-low:active {@apply text-purple-200;}

.btn-red-high {@apply text-white bg-red-600;}
.btn-red-high:hover {@apply bg-red-500;}
.btn-red-high:focus {@apply outline-none border-red-700 ring-red-500;}
.btn-red-high:active {@apply bg-red-700;}
.btn-red-normal {@apply text-red-700 bg-red-100;}
.btn-red-normal:hover {@apply bg-red-50;}
.btn-red-normal:focus {@apply outline-none border-red-300 ring-red-500;}
.btn-red-normal:active {@apply bg-red-200;}
.btn-red-low {@apply text-red-700;}
.btn-red-low:hover {@apply text-red-500;}
.btn-red-low:focus {@apply outline-none border-red-300 ring-red-500;}
.btn-red-low:active {@apply text-red-200;}

.btn-gray-high {@apply text-white bg-gray-600;}
.btn-gray-high:hover {@apply bg-gray-500;}
.btn-gray-high:focus {@apply outline-none border-gray-700 ring-gray-500;}
.btn-gray-high:active {@apply bg-gray-700;}
.btn-gray-normal {@apply text-gray-700 bg-gray-100;}
.btn-gray-normal:hover {@apply bg-gray-50;}
.btn-gray-normal:focus {@apply outline-none border-gray-300 ring-gray-500;}
.btn-gray-normal:active {@apply bg-gray-200;}
.btn-gray-low {@apply text-gray-200;}
.btn-gray-low:hover {@apply text-gray-500;}
.btn-gray-low:focus {@apply outline-none border-gray-300 ring-gray-500;}
.btn-gray-low:active {@apply text-gray-200;}

.btn-clear-normal {@apply text-gray-700 bg-white border-gray-300;}
.btn-clear-normal:hover {@apply bg-gray-50;}
.btn-clear-normal:focus {@apply outline-none ring-2 ring-indigo-500 ring-offset-2;}
.btn-clear-normal:active {@apply bg-white;}


 .icon {
      width: 1em;
      height: 1em;
      vertical-align: -.125em;
    }
