@import "tailwindcss/base";
/*@import "./custom-base-styles.css";*/

@import "tailwindcss/components";
/*@import "./custom-components.css";*/

@import "tailwindcss/utilities";
/*@import "./custom-utilities.css";*/

@import "./nprogress.css";
/*
@import "./choices@10.1.0.css";
 **/

@import "./tablegrid.css";

/*@import "./dropzone@6.0.0-beta.2.css";*/
@import "./dropzone@6.0.0-beta.2.css";

@import "./sweetalert2@11.7.5.css";

.dropzone {
  /*@apply sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5;
     */
  @apply border-2 border-dashed border-gray-300;
}
.dropzone .dz-preview .dz-image {
  @apply rounded;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dz-remove {
  @apply relative rounded-md bg-white font-medium text-sno-orange-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-sno-orange-500 focus-within:ring-offset-2 hover:text-sno-orange-500;
}

:root {
  --yellow-400: #f5f569;
}

html {
  @apply h-full bg-gray-100;
}
body {
  @apply h-full;
}

.logotype-dark .logotype-text {
  @apply text-orange-500;
}

.link-blue {
  @apply cursor-pointer text-blue-500 hover:text-blue-600;
}

.btn {
  @apply inline-flex items-center border border-transparent font-medium rounded transition ease-in-out duration-150;
}
.btn-xs {
  @apply px-2.5 py-1.5 text-xs leading-4;
}
.btn-sm {
  @apply px-3 py-2 text-sm leading-4;
}
.btn-base {
  @apply px-4 py-2 text-sm leading-5;
}
.btn-lg {
  @apply px-4 py-2 text-base leading-6;
}
.btn-xl {
  @apply px-6 py-3 text-base leading-6;
}
.btn-full {
  @apply block w-full;
}

.btn-indigo-high {
  @apply text-white bg-indigo-600;
}
.btn-indigo-high:hover {
  @apply bg-indigo-500;
}
.btn-indigo-high:focus {
  @apply outline-none border-indigo-700 ring-indigo-500;
}
.btn-indigo-high:active {
  @apply bg-indigo-700;
}
.btn-indigo-normal {
  @apply text-indigo-700 bg-indigo-100;
}
.btn-indigo-normal:hover {
  @apply bg-indigo-50;
}
.btn-indigo-normal:focus {
  @apply outline-none border-indigo-300 ring-indigo-500;
}
.btn-indigo-normal:active {
  @apply bg-indigo-200;
}
.btn-indigo-low {
  @apply text-indigo-700;
}
.btn-indigo-low:hover {
  @apply text-indigo-500;
}
.btn-indigo-low:focus {
  @apply outline-none border-indigo-300 ring-indigo-500;
}
.btn-indigo-low:active {
  @apply text-indigo-200;
}

.btn-purple-high {
  @apply text-white bg-purple-600;
}
.btn-purple-high:hover {
  @apply bg-purple-500;
}
.btn-purple-high:focus {
  @apply outline-none border-purple-700 ring-purple-500;
}
.btn-purple-high:active {
  @apply bg-purple-700;
}
.btn-purple-normal {
  @apply text-purple-700 bg-purple-100;
}
.btn-purple-normal:hover {
  @apply bg-purple-50;
}
.btn-purple-normal:focus {
  @apply outline-none border-purple-300 ring-purple-500;
}
.btn-purple-normal:active {
  @apply bg-purple-200;
}
.btn-purple-low {
  @apply text-purple-700;
}
.btn-purple-low:hover {
  @apply text-purple-500;
}
.btn-purple-low:focus {
  @apply outline-none border-purple-300 ring-purple-500;
}
.btn-purple-low:active {
  @apply text-purple-200;
}

.btn-red-high {
  @apply text-white bg-red-600;
}
.btn-red-high:hover {
  @apply bg-red-500;
}
.btn-red-high:focus {
  @apply outline-none border-red-700 ring-red-500;
}
.btn-red-high:active {
  @apply bg-red-700;
}
.btn-red-normal {
  @apply text-red-700 bg-red-100;
}
.btn-red-normal:hover {
  @apply bg-red-50;
}
.btn-red-normal:focus {
  @apply outline-none border-red-300 ring-red-500;
}
.btn-red-normal:active {
  @apply bg-red-200;
}
.btn-red-low {
  @apply text-red-700;
}
.btn-red-low:hover {
  @apply text-red-500;
}
.btn-red-low:focus {
  @apply outline-none border-red-300 ring-red-500;
}
.btn-red-low:active {
  @apply text-red-200;
}

.btn-gray-high {
  @apply text-white bg-gray-600;
}
.btn-gray-high:hover {
  @apply bg-gray-500;
}
.btn-gray-high:focus {
  @apply outline-none border-gray-700 ring-gray-500;
}
.btn-gray-high:active {
  @apply bg-gray-700;
}
.btn-gray-normal {
  @apply text-gray-700 bg-gray-100;
}
.btn-gray-normal:hover {
  @apply bg-gray-50;
}
.btn-gray-normal:focus {
  @apply outline-none border-gray-300 ring-gray-500;
}
.btn-gray-normal:active {
  @apply bg-gray-200;
}
.btn-gray-low {
  @apply text-gray-200;
}
.btn-gray-low:hover {
  @apply text-gray-500;
}
.btn-gray-low:focus {
  @apply outline-none border-gray-300 ring-gray-500;
}
.btn-gray-low:active {
  @apply text-gray-200;
}

.btn-clear-normal {
  @apply text-gray-700 bg-white border-gray-300;
}
.btn-clear-normal:hover {
  @apply bg-gray-50;
}
.btn-clear-normal:focus {
  @apply outline-none ring-2 ring-indigo-500 ring-offset-2;
}
.btn-clear-normal:active {
  @apply bg-white;
}

.icon {
  /*width: 1em;
      height: 1em;
       **/
  vertical-align: -0.125em;
}

.radio-button {
  @apply border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium sm:flex-1 cursor-pointer focus:outline-none;
  @apply transition-all;
}

.radio-button-checked {
  @apply bg-sno-green-600 border-transparent text-white hover:bg-sno-green-700;
}

.radio-button-checked.red {
  @apply bg-red-600 hover:bg-red-700;
}

.radio-button-not-checked {
  @apply bg-white border-gray-200 text-gray-900 hover:bg-gray-50;
}

.radio-button:active {
  @apply ring-2 ring-offset-2 ring-sno-green-500;
}

.radio-button.red:active {
  @apply ring-2 ring-offset-2 ring-red-500;
}

.icon-not-played {
  @apply text-gray-400;
}

.icon-smile {
  @apply text-green-400;
}
.icon-sad {
  @apply text-red-400;
}

.icon-meh {
  @apply text-blue-400;
}

.radio-button-checked .icon-smile {
  @apply text-white;
}

.radio-button-checked .icon-sad {
  @apply text-white;
}

.radio-button-checked .icon-meh {
  @apply text-white;
}

.emotion-radio .icon-sad.radio-button:active {
  @apply ring-2 ring-offset-2 ring-red-500;
}

.emotion-radio .icon-meh.radio-button:active {
  @apply ring-2 ring-offset-2 ring-blue-500;
}
.emotion-radio .icon-smile.radio-button:active {
  @apply ring-2 ring-offset-2 ring-green-500;
}
.emotion-radio .icon-sad.radio-button-checked {
  @apply bg-red-600 border-transparent text-white hover:bg-red-700;
}

.emotion-radio .icon-meh.radio-button-checked {
  @apply bg-blue-600 border-transparent text-white hover:bg-blue-700;
}

.emotion-radio .icon-smile.radio-button-checked {
  @apply bg-green-600 border-transparent text-white hover:bg-green-700;
}

.toggler-container {
  @apply p-0 m-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-0 md:gap-x-2;
}
.toggler {
  @apply rounded border-4 mx-0 my-1 p-2  basis-1/2 flex justify-between items-center;
}
.toggler .icon {
}
.toggler .icon-smile:active {
  @apply ring-2 ring-offset-2 ring-green-500;
}

.toggler .icon-sad:active {
  @apply ring-2 ring-offset-2 ring-red-500;
}

.toggler .icon-meh:active {
  @apply ring-2 ring-offset-2 ring-blue-500;
}

.toggler .icon-not-played:active {
  @apply ring-2 ring-offset-2 ring-gray-500;
}

.toggler .icon-fist-punch:active {
  @apply ring-2 ring-offset-2 ring-purple-500;
}

.toggler--feeling-good {
  @apply border-green-200 bg-green-100;
}
.toggler--feeling-sad {
  @apply border-red-200 bg-red-100;
}
.toggler--feeling-meh {
  @apply border-blue-200 bg-blue-100;
}
.toggler--not-played {
  @apply border-gray-200 bg-gray-100;
}

.toggler--checked.icon-not-played {
  @apply text-gray-500;
}
.toggler--checked.icon-sad {
  @apply text-red-500;
}
.toggler--checked.icon-meh {
  @apply text-blue-500;
}
.toggler--checked.icon-smile {
  @apply text-green-500;
}

.toggler--checked.icon-not-played svg {
  @apply border-gray-500;
}
.toggler--checked.icon-sad svg {
  @apply border-red-500;
}
.toggler--checked.icon-meh svg {
  @apply border-blue-500;
}
.toggler--checked.icon-smile svg {
  @apply border-green-500;
}

.toggler svg {
  padding-bottom: 1px;
  @apply border-transparent border-solid border-b-2;
}
.icon-fist-punch {
  @apply text-purple-400;
}
.intensiv--checked {
  @apply text-purple-500;
}
.intensiv--checked.icon-fist-punch svg {
  padding-bottom: 1px;
  @apply border-solid border-b-2;
  @apply border-purple-500;
}

.tippy-box[data-theme~="translucent"] {
  background-color: transparent;
}

.choices__list.choices__list--dropdown {
  @apply z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
  @apply hidden;
}
.choices__list.choices__list--dropdown.is-active {
  @apply block;
}

#desktop-user-menu.enter {
  @apply transition ease-out duration-100;
}
#desktop-user-menu.enter-start {
  @apply transform opacity-0 scale-95;
}
#desktop-user-menu.enter-end {
  @apply transform opacity-100 scale-100;
}
#desktop-user-menu.leave-end {
}

/* ANIMATION: fade in/out */
.fade-enter {
  @apply transition ease-out duration-100;
}
.fade-enter-start {
  @apply transform opacity-0 scale-95;
}
.fade-enter-end {
  @apply transform opacity-100 scale-100;
}

.fade-leave {
  @apply transition ease-in duration-75;
}
.fade-leave-start {
  @apply transform opacity-100 scale-100;
}
.fade-leave-end {
  @apply transform opacity-0 scale-95;
}

/* ANIMATION: flyout-backdrop */
.flyout-backdrop-enter {
  @apply transition-opacity ease-linear duration-300;
}
.flyout-backdrop-enter-start {
  @apply opacity-0;
}
.flyout-backdrop-enter-end {
  @apply opacity-100;
}
.flyout-backdrop-leave {
  @apply transition-opacity ease-linear duration-300;
}
.flyout-backdrop-leave-start {
  @apply opacity-100;
}
.flyout-backdrop-leave-end {
  @apply opacity-0;
}

/* ANIMATION: flyout-menu */
.flyout-menu-enter {
  @apply transition ease-in-out duration-300 transform;
}
.flyout-menu-enter-start {
  @apply -translate-x-full;
}
.flyout-menu-enter-end {
  @apply translate-x-0;
}
.flyout-menu-leave {
  @apply transition ease-in-out duration-300 transform;
}
.flyout-menu-leave-start {
  @apply translate-x-0;
}
.flyout-menu-leave-end {
  @apply -translate-x-full;
}

/* ANIMATION: flyout-panel */
.flyout-panel-enter {
  @apply transform transition ease-in-out duration-500 sm:duration-700;
}
.flyout-panel-enter-start {
  @apply translate-x-full;
}
.flyout-panel-enter-end {
  @apply translate-x-0;
}
.flyout-panel-leave {
  @apply transform transition ease-in-out duration-500 sm:duration-700;
}
.flyout-panel-leave-start {
  @apply translate-x-0;
}
.flyout-panel-leave-end {
  @apply translate-x-full;
}

/* ANIMATION: flyout-closeButton */
.flyout-closeButton-enter {
  @apply ease-in-out duration-300;
}
.flyout-closeButton-enter-start {
  @apply opacity-0;
}
.flyout-closeButton-enter-end {
  @apply opacity-100;
}
.flyout-closeButton-leave {
  @apply ease-in-out duration-300;
}
.flyout-closeButton-leave-start {
  @apply opacity-100;
}
.flyout-closeButton-leave-end {
  @apply opacity-0;
}

.fade-out:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -1px;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 101%;
  height: 20em;
}

/* ANIMATIONS */

.htmx-request .pulsate {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}
.button-spinner svg.spinner {
  opacity: 0;
}

.button-spinner svg.spinner-check {
  display: none;
}

.button-spinner.hx-success {
  @apply border-transparent bg-sno-green-500 text-white shadow-sm hover:bg-sno-green-700 focus:outline-none focus:ring-2 focus:ring-sno-green-500 focus:ring-offset-2 focus:ring-offset-gray-100;
}

.button-spinner.hx-success svg.spinner-check {
  display: block;
  @apply text-green-900;
}
.button-spinner.hx-success svg.spinner {
  opacity: 0;
  @apply text-green-900;
}

.htmx-request.button-spinner svg.spinner {
  transition: all 1000ms ease-in;
  opacity: 1;
}

.pulse-delay {
  animation-delay: 10s;
  animation-name: heartbeat;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-outout;
  animation-iteration-count: infinite;
}

.pulse-once {
  animation-name: pulsate;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 3;
  opacity: 1;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-20 15:10:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

.visually-spaced + .visually-spaced:before {
  content: " ";
  letter-spacing: 0.25rem;
}
