/* instrgrid  */

.instrgrid--grid {
    grid-template-columns:
        22px /* icon */
        minmax(150px, 1fr) /* name */
        15px /* band/private */
        minmax(75px, 1fr) /* total */;
}

@media screen(sm) {
    .instrgrid--grid {
        grid-template-columns:
            22px /* icon */
            minmax(150px, 1fr) /* name */
            15px /* band/private */
            minmax(20px, 1fr) /* count */
            minmax(75px, 1fr) /* value */
            repeat(auto-fit, minmax(0, 1fr));
    }
}

@media screen(md) {
    .instrgrid--grid {
        grid-template-columns:
            22px /* icon */
            minmax(150px, 1fr) /*name*/
            15px /* band/private */
            minmax(20px, 1fr) /* count */
            minmax(75px, 1fr) /*value*/
            repeat(auto-fit, minmax(0, 1fr));
    }
}
