/* instrgrid  */

.instrgrid--grid {
    grid-template-columns:
        22px /* checkbox */
        22px /* status icon */
        22px /* change icon */
        minmax(150px, 1fr) /* name */
        22px /* photos? */
        15px /* band/private */
        minmax(75px, 1fr) /* total */;
}

@media screen(sm) {
    .instrgrid--grid {
        grid-template-columns:
            22px /* checkbox */
            22px /* status icon */
            22px /* change icon */
            minmax(150px, 1fr) /* name */
            22px /* photos? */
            minmax(96px, 1fr) /* category */
            15px /* band/private */
            minmax(10px, 1fr) /* count */
            minmax(75px, 1fr) /* value */
            repeat(auto-fit, minmax(0, 1fr));
    }
}

@media screen(md) {
    .instrgrid--grid {
        grid-template-columns:
            22px /* checkbox */
            22px /* status icon */
            22px /* change icon */
            minmax(150px, 1fr) /*name*/
            22px /* photos? */
            minmax(96px, 1fr) /* category */
            15px /* band/private */
            minmax(10px, 1fr) /* count */
            minmax(75px, 1fr) /*value*/
            repeat(auto-fit, minmax(0, 1fr));
    }
}
