:root {
    --thumb-iter-count: 1;
    --thumb-anim-delay: 0s;
    --thumb-anim-duration: 1.5s;
}
.thumb {
    animation: scale var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    -webkit-backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
    text-decoration: none;
}

@-webkit-keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    1% {
        transform: scale(0);
        opacity: 1;
    }
    20% {
        transform: scale(0);
    }
    35% {
        transform: scale(1.4);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    65% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes scale {
    0% {
        transform: scale(1);
    }
    1% {
        transform: scale(0);
    }
    20% {
        transform: scale(0);
    }
    35% {
        transform: scale(1.4);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    65% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    1% {
        transform: scale(0);
    }
    20% {
        transform: scale(0);
    }
    35% {
        transform: scale(1.4);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    65% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.circle-wrap {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.circle-lg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-style: solid;
    border-color: #aef3d5;
    opacity: 0;
    animation: scaleCircle var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}

@-webkit-keyframes scaleCircle {
    0% {
        border-width: 90px;
        transform: scale(0);
    }
    15% {
        border-color: #f9e8a0;
        border-width: 90px;
    }
    30% {
        border-color: #a8ebc4;
        opacity: 1;
    }
    35% {
        border-color: #aef3d5;
    }
    50% {
        border-width: 0;
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        border-width: 0;
        transform: scale(1);
        opacity: 0;
    }
}
@-moz-keyframes scaleCircle {
    0% {
        border-width: 90px;
        transform: scale(0);
    }
    15% {
        border-color: #f9e8a0;
        border-width: 90px;
    }
    30% {
        border-color: #a8ebc4;
        opacity: 1;
    }
    35% {
        border-color: #aef3d5;
    }
    50% {
        border-width: 0;
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        border-width: 0;
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes scaleCircle {
    0% {
        border-width: 90px;
        transform: scale(0);
    }
    15% {
        border-color: #f9e8a0;
        border-width: 90px;
    }
    30% {
        border-color: #a8ebc4;
        opacity: 1;
    }
    35% {
        border-color: #aef3d5;
    }
    50% {
        border-width: 0;
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        border-width: 0;
        transform: scale(1);
        opacity: 0;
    }
}

.dots-wrap {
    -webkit-transform: translate(-50%, -50%) rotate(3deg);
    -moz-transform: translate(-50%, -50%) rotate(3deg);
    -ms-transform: translate(-50%, -50%) rotate(3deg);
    -o-transform: translate(-50%, -50%) rotate(3deg);
    transform: translate(-50%, -50%) rotate(3deg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    pointer-events: none;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: #00ccff;
    margin: 0 auto;
    top: 105px;
    left: 0;
    right: 0;
    opacity: 0;
}
.dot:nth-child(6n + 1) {
    background-color: #0cfbab;
}
.dot:nth-child(6n + 2) {
    background-color: #f3396b;
}
.dot:nth-child(6n + 3) {
    background-color: #08d3fc;
}
.dot:nth-child(6n + 4) {
    background-color: #fcdb17;
}
.dot:nth-child(6n + 5) {
    background-color: #9b59b6;
}
.dot:nth-child(6n + 6) {
    background-color: #34495e;
}

.dot--t {
    animation: slideUp var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-125px) scale(0);
    }
}
@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translateY(-125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(-125px) scale(0);
    }
}
@keyframes slideUp {
    0% {
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
        -o-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-125px) scale(1);
        -moz-transform: translateY(-125px) scale(1);
        -ms-transform: translateY(-125px) scale(1);
        -o-transform: translateY(-125px) scale(1);
        transform: translateY(-125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-125px) scale(0);
        -moz-transform: translateY(-125px) scale(0);
        -ms-transform: translateY(-125px) scale(0);
        -o-transform: translateY(-125px) scale(0);
        transform: translateY(-125px) scale(0);
    }
}
.dot--tr {
    animation: slideUpRight var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideUpRight {
    0% {
        -webkit-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(125px, -80px) scale(0);
    }
}
@-moz-keyframes slideUpRight {
    0% {
        -moz-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translate(125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translate(125px, -80px) scale(0);
    }
}
@keyframes slideUpRight {
    0% {
        -webkit-transform: translate(0) scale(1);
        -moz-transform: translate(0) scale(1);
        -ms-transform: translate(0) scale(1);
        -o-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(125px, -80px) scale(1);
        -moz-transform: translate(125px, -80px) scale(1);
        -ms-transform: translate(125px, -80px) scale(1);
        -o-transform: translate(125px, -80px) scale(1);
        transform: translate(125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(125px, -80px) scale(0);
        -moz-transform: translate(125px, -80px) scale(0);
        -ms-transform: translate(125px, -80px) scale(0);
        -o-transform: translate(125px, -80px) scale(0);
        transform: translate(125px, -80px) scale(0);
    }
}
.dot--br {
    animation: slideDownRight var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideDownRight {
    0% {
        -webkit-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(125px, 80px) scale(0);
    }
}
@-moz-keyframes slideDownRight {
    0% {
        -moz-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translate(125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translate(125px, 80px) scale(0);
    }
}
@keyframes slideDownRight {
    0% {
        -webkit-transform: translate(0) scale(1);
        -moz-transform: translate(0) scale(1);
        -ms-transform: translate(0) scale(1);
        -o-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(125px, 80px) scale(1);
        -moz-transform: translate(125px, 80px) scale(1);
        -ms-transform: translate(125px, 80px) scale(1);
        -o-transform: translate(125px, 80px) scale(1);
        transform: translate(125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(125px, 80px) scale(0);
        -moz-transform: translate(125px, 80px) scale(0);
        -ms-transform: translate(125px, 80px) scale(0);
        -o-transform: translate(125px, 80px) scale(0);
        transform: translate(125px, 80px) scale(0);
    }
}
.dot--b {
    animation: slideDown var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(125px) scale(0);
    }
}
@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translateY(125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(125px) scale(0);
    }
}
@keyframes slideDown {
    0% {
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
        -o-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(125px) scale(1);
        -moz-transform: translateY(125px) scale(1);
        -ms-transform: translateY(125px) scale(1);
        -o-transform: translateY(125px) scale(1);
        transform: translateY(125px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(125px) scale(0);
        -moz-transform: translateY(125px) scale(0);
        -ms-transform: translateY(125px) scale(0);
        -o-transform: translateY(125px) scale(0);
        transform: translateY(125px) scale(0);
    }
}
.dot--bl {
    animation: slideDownLeft var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideDownLeft {
    0% {
        -webkit-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(-125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-125px, 80px) scale(0);
    }
}
@-moz-keyframes slideDownLeft {
    0% {
        -moz-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translate(-125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translate(-125px, 80px) scale(0);
    }
}
@keyframes slideDownLeft {
    0% {
        -webkit-transform: translate(0) scale(1);
        -moz-transform: translate(0) scale(1);
        -ms-transform: translate(0) scale(1);
        -o-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(-125px, 80px) scale(1);
        -moz-transform: translate(-125px, 80px) scale(1);
        -ms-transform: translate(-125px, 80px) scale(1);
        -o-transform: translate(-125px, 80px) scale(1);
        transform: translate(-125px, 80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-125px, 80px) scale(0);
        -moz-transform: translate(-125px, 80px) scale(0);
        -ms-transform: translate(-125px, 80px) scale(0);
        -o-transform: translate(-125px, 80px) scale(0);
        transform: translate(-125px, 80px) scale(0);
    }
}
.dot--tl {
    animation: slideUpLeft var(--thumb-anim-duration)
        cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: var(--thumb-iter-count);
    animation-fill-mode: forwards;
    animation-delay: var(--thumb-anim-delay);
}
@-webkit-keyframes slideUpLeft {
    0% {
        -webkit-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(-125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-125px, -80px) scale(0);
    }
}
@-moz-keyframes slideUpLeft {
    0% {
        -moz-transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -moz-transform: translate(-125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translate(-125px, -80px) scale(0);
    }
}
@keyframes slideUpLeft {
    0% {
        -webkit-transform: translate(0) scale(1);
        -moz-transform: translate(0) scale(1);
        -ms-transform: translate(0) scale(1);
        -o-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    55% {
        -webkit-transform: translate(-125px, -80px) scale(1);
        -moz-transform: translate(-125px, -80px) scale(1);
        -ms-transform: translate(-125px, -80px) scale(1);
        -o-transform: translate(-125px, -80px) scale(1);
        transform: translate(-125px, -80px) scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-125px, -80px) scale(0);
        -moz-transform: translate(-125px, -80px) scale(0);
        -ms-transform: translate(-125px, -80px) scale(0);
        -o-transform: translate(-125px, -80px) scale(0);
        transform: translate(-125px, -80px) scale(0);
    }
}
